llama-index-embeddings-huggingface
llama-index-graph-stores-nebula 
llama-index-llms-langchain
llama-index-llms-ollama
llama-index-multi-modal-llms-ollama
llama-index-readers-file
llama-index-readers-obsidian 
llama-index-vector-stores-chroma
llama_index 
pyvis
IPython
nbconvert[all]
prompttools
spacy>=3.4.0
txtai[all]
typing_extensions<4.6.0
unstructured
llama-parse